@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 120 8% 5%;

    --card: 120 8% 97%;
    --card-foreground: 120 8% 5%;

    --popover: 120 8% 97%;
    --popover-foreground: 120 8% 5%;

    --primary: 132 87% 60%;
    --primary-foreground: 0 0% 2%;

    --secondary: 150 6% 93%;
    --secondary-foreground: 120 8% 5%;

    --muted: 150 6% 93%;
    --muted-foreground: 133 6% 45%;

    --accent: 150 6% 93%;
    --accent-foreground: 120 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 120 6% 90%;
    --input: 130 7% 82%;
    --ring: 133 24% 74%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 3% 6%;
    --foreground: 0 0% 98%;

    --card: 150 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 150 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 132 87% 60%;
    --primary-foreground: 0 0% 2%;

    --secondary: 135 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 130 5% 22%;
    --muted-foreground: 130 5% 49%;

    --accent: 133 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 140 5% 12%;
    --input: 135 4% 18%;
    --ring: 132 87% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
